{
    "version": "0.0.1",
    "database": {
        "driver": "",
        "name": "",
        "user": "",
        "password": ""
    },
    "jwt": {
        "secretKey": "maclesecrete",
        "exp": 24
    },
    "mattermost": {
        "hookUrl": "",
        "hookPayload": ""
    },
    "slack": {
        "hookUrl": "",
        "hookPayload": ""
    },
    "smtp": {
        "username": "",
        "password": "",
        "host": ""
    }
}
