{{- define "mail" }}
<!DOCTYPE html>
<html lang="fr">
    <head>
        <meta charset="utf-8">
        <title>{{ .Title }}</title>
        <style>
            .bold {
                font-weight: bold;
            }
        </style>
    </head>

    <body>
    {{- if gt (len .Projects) 0 }}
        {{- range $project := .Projects }}
            <p class="bold">
                {{ $project.Name }}
            </p>
            {{- if gt (len $project.Releases) 0 }}
                <ul>
                {{- range $release := $project.Releases }}
                    <li>
                        {{ $release }}
                    </li>
                {{- end }}
                </ul>
            {{- end }}
        {{- end }}
    {{- end }}
    </body>
</html>
{{- end }}
